ul {
  display: block;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

ol {
  display: block;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

p {
  font-size: 18px;
  color: black;
}
